.navbar {
  background: #dcc5d1;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: flex;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fcf3e8;
  transition: all 0.2s ease-out;
}

.fa-angle-double-up,
.fa-angle-double-down {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #D3B3BC;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: 45vh;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fcf3e8;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
    letter-spacing: 1.5px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-angle-double-down {
    margin-top: 10px;
  }

  .fa-angle-double-up {
    margin-top: 10px;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

@media screen and (max-width: 812px) {
  .nav-menu {
    height: 90vh;
  }

  .navbar-logo {

    margin-left: -10px;

  }

  .fa-angle-double-down {
    margin-top: 10px;
  }

  .fa-angle-double-up {
    margin-top: 10px;
  }

  .fa-american-sign-language-interpreting {
    margin-top: 25px;
  }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
      .nav-menu {
        height: 90vh;
      }
    
      .navbar-logo {
    
        margin-left: -10px;
    
      }
    
      .fa-angle-double-down {
        margin-top: 10px;
      }
    
      .fa-angle-double-up {
        margin-top: 10px;
      }
    
      .fa-american-sign-language-interpreting {
        margin-top: 25px;
      }
     }

     @media only screen 
     and (device-width : 375px) 
     and (device-height : 667px) 
     and (-webkit-device-pixel-ratio : 2) {
      .nav-menu {
        height: 90vh;
      }
    
      .navbar-logo {
    
        margin-left: -10px;
    
      }
    
      .fa-angle-double-down {
        margin-top: 10px;
      }
    
      .fa-angle-double-up {
        margin-top: 10px;
      }
    
      .fa-american-sign-language-interpreting {
        margin-top: 25px;
      }
      }

      @media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {
      .nav-menu {
        height: 90vh;
      }
    
      .navbar-logo {
    
        margin-left: -10px;
    
      }
    
      .fa-angle-double-down {
        margin-top: 10px;
      }
    
      .fa-angle-double-up {
        margin-top: 10px;
      }
    
      .fa-american-sign-language-interpreting {
        margin-top: 25px;
      }
      }
     