* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mr Dafoe', cursive;
}

.home,
.mision,
.products,
.packs,
.limpieza,
.blog {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

@font-face {
  font-family: 'Rafale';
  src: local('Rafale-BG'), url(./fonts/Rafale-BG.ttf) format('truetype');
}

.products {
  background-image: url('./images/products.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.limpieza {
  background-image: url('./images/limpiezaPage.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.packs {
  background-image: url('./images/packs.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.mision {
  background-image: url('./images/misionPage.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} 

.blog {
  background-image: url('./images/blogPage.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}